<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nz-layout>
     <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item>  <a href="" routerLink="">Home </a></li>
        <li nz-menu-item>   <a href="/register" routerLink="register">Sign Up</a></li>
        <li nz-menu-item>   <a href="/login" routerLink="login">Login</a></li>
      </ul>
    </nz-header>
    <nz-content>

     
  <router-outlet></router-outlet>
    </nz-content>
       <router-outlet></router-outlet>
    <nz-footer>
      <p>&copy; 2023 Fisonet</p>
    </nz-footer>
  </nz-layout>

<!-- <div id="app">
  

  <div class="container">
   
  </div>
</div> --> 
