
  
<form class="login-form" nz-form [nzAutoTips]="autoTips" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
    <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
      <input nz-input formControlName="userName" placeholder="async validate try to write JasonWood" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Mobile</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="mobile" placeholder="mobile" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="email" placeholder="email" type="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSpan]="12" nzDisableAutoTips nzErrorTip="Please input your password!">
      <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSpan]="12" nzDisableAutoTips [nzErrorTip]="passwordErrorTpl">
      <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
        <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button  nz-button class="login-form-button login-form-margin" nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
<!-- <div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']">Username is required</div>
            <div *ngIf="username.errors['minlength']">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors['maxlength']">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isRegisteredFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div> -->
